.container {
  width: 25%;
  min-width: 20%;
  border: 2px solid #7fffd491;
  height: 20%;
  background-color: #fbe8d0;
  border-radius: 9px;
  margin: 90px auto;
}

#profilecontainer {
  margin-left: 30px;

}

.avatar {
  width: 100px;
  border-radius: 5%;
  /* padding-left: 10px; */
}

h1 {
  text-align: center;
}

#fetchbutton,
#usernameinput {
  border: none;
  padding: 5px;
  margin-left: 40px;
  border-radius: 5px;
  /* margin-top: 200px; */
}

#fetchbutton {
  background-color: #00ffff;
}
